::selection {
    background-color: rgb(0,198,255);
    background-color: linear-gradient(266deg, rgba(0,198,255,1) 0%, rgba(0,151,255,1) 100%);
}

/* COMMON */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

span {
    color: rgb(0,198,255);
    color: linear-gradient(133deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

#blob {
    z-index: -1;
    position: absolute;
    width: 300px;
}

.blob1 {
    top: 90vh;
    right: 0;
}

.blob2 {
    top: 200vh;
    right: -10rem;
}

.blob3 {
    top: 150vh;
    left: 0;
}

.blob4 {
    position: relative;
    bottom: 0;
    left: 1rem;
    width: 100px;
}

/* NAV */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 1;
}

nav.active {
    background-color: #fff;
    color: #000;
    z-index: 3;
}

.logo {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    padding-left: 1rem;
    font-size: 1.1rem;
    display: inline-block;
}

.links a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: rgb(0,198,255);
    background: linear-gradient(290deg, rgba(0,198,255,1) 0%, rgba(0,151,255,1) 100%);
    transition: width .3s;
}

.links a:hover::after {
    width: 100%;
    transition: width .3s;
}

.links li:hover {
    cursor: pointer;
}

.btn-blue {
    text-transform: uppercase;
    border: none;
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-family: inherit;
    padding: 1.2rem;
    background: #0099FF;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 3px;
}

.btn-blue:hover {
    opacity: 0.9;
}

.links li {
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

/* HEADER */

header {
    background: url("/images/bg-man.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.95;
    height: 100vh;
    width: 100%;
    color: #fff;
    -webkit-box-shadow: inset -1px 6px 23px 6px rgba(0,0,0,0.68);
    -moz-box-shadow: inset -1px 6px 23px 6px rgba(0,0,0,0.68);
    box-shadow: inset -1px 6px 23px 6px rgba(0,0,0,0.68);
}

.header-section {
    height: 500px;
    width: 800px;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 6.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.underline {
    background-color: #fff;
    width: 100%;
    height: 10px;
}

.header-section h1 {
    font-weight: 800;
    font-size: 135px;
    letter-spacing: 5px;
    position: relative;
    bottom: 10px;
}

.header-section h3 {
    font-size: 35px;
}

.arrow-icon {
    position: relative;
    bottom: -81vh;
    left: 50%;
    transform: scale(1.2);
    animation: goDow 1s ease-out infinite;
}

@keyframes goDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* FORMS */

#form-container {
    height: 30vh;
    width: 100%;
}

form {
    background-color: #fff;
    position: absolute;
    top: 85vh;
    left: 30vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    padding: 2rem;
    border-radius: 10px;
    -webkit-box-shadow: 2px 5px 17px -5px rgba(0,0,0,0.72);
    -moz-box-shadow: 2px 5px 17px -5px rgba(0,0,0,0.72);
    box-shadow: 2px 5px 17px -5px rgba(0,0,0,0.72);
}

form h1 {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 3px solid #0cf;
    padding-bottom: 2px;
    margin: .5rem;
    font-size: 25px;
    letter-spacing: 1px;
    position: relative;
    bottom: 10px;
}

form input {
    padding: .9rem;
    margin: 1.2rem .5rem;
}

form input,
textarea {
    border-radius: 5px;
    outline: none;
    position: relative;
    bottom: 10px;
}

textarea {
    margin-left: 10px;
}

form button {
    margin: .5rem 1rem -.5rem 1rem;
    border-radius: 5px;
}

.next-icon {
    font-size: 16px;
    position: relative;
    left: 5px;
}

/* CARDS */

.container {
    height: 150vh;
    max-width: 1500px;
    margin: auto;
    padding: 0 2rem;
}

.card {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    margin-top: 5rem;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-top {
    margin-top: 0;
}

.card-text h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #1f1f1f;
    font-weight: 800;
    letter-spacing: 1px;
    border-bottom: 3px solid rgb(0,198,255);
}

.card-text p {
    padding: 1rem 1rem 0 1rem;
    width: 70%;
    font-size: 1.1rem;
    color: #1f1f1f;
    letter-spacing: 1px;
    font-weight: 400;
}

.card img {
    width: 90%;
}

.card > div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    webkit-box-shadow: 2px 5px 17px -5px rgba(0,0,0,0.72);
    -moz-box-shadow: 2px 5px 17px -5px rgba(0,0,0,0.72);
    box-shadow: 2px 5px 17px -5px rgba(0,0,0,0.72);
}

.btn:hover {
    opacity: 0.8;
}

svg {
    position: relative;
    bottom: -5px;
    left: 0;
}

article {
    height: 100vh;
    width: 100%;
    background: #0099FF;
}

.twin-container {
    text-align: center;
}

.twin {
    height: 100vh;
    max-width: 100%;
    background: url('/images/deadlift.jpg') no-repeat fixed center;
    background-size: cover;
    text-align: center;
}

.twin h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 3px 3px 4px #000;
}

.btn-happen {
    position: relative;
    top: 35rem;
}

/* FOOTER */

.socials {
    height: 40vh;
    width: 100%;
    background-color: #ffffff;
}

.socials img {
    position: relative;
    left: 10vw;
    bottom: 5rem;
    width: 500px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.social-tags {
    position: relative;
    right: 35rem;
    bottom: 2rem;
}

.social-tags ul {
    height: 7rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-tags ul li a {
    font-size: 7rem;
    padding: 2rem;
}

.follow {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 2rem;
    padding-left: 7.5rem;
    margin-bottom: 1.5rem;
}

.footer-svg {
    background-color: #fff;
    position: relative;
    top: 0;
}

footer {
    margin-top: -5px;
    height: 20vh;
    width: 100%;
    background-color: #000;
}
