@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #141E30;
    height: 100vh;
}

/* Dark Mode Button */

section button {
    padding: .9rem;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* NAV SECTION */

.hamburger {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
    padding-right: 1.2rem;
}

.hamburger:focus {
    outline: none;
}

nav {
    background-color: #141E30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
}

nav ul a:hover {
    color: #00f6cd;
}

nav img {
    width: 30px;
    padding: 1.1rem;
}

.active_btn {
    border: 1px solid #00f6cd;
    padding: .8em 2em;
    margin-right: 30px;
    background-color: #00f6cdf5;
    border-radius: 5px;
    font-weight: bolder;
}

/* HEADER CONTENT */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos img {
    margin-left: 2rem;
    width: 150px;
}

.content {
    color: #fff;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left {
    position: relative;
    right: 50px;
}

.left h1 {
    font-size: 3rem;
    animation: transMainDown 0.55s ease-out;
}

.left p {
    font-size: 1rem;
}

.right a {
    color: #1f1f1f;
    cursor: default;
}

.left button {
    color: #fff;
    font-family: inherit;
    margin-top: 1rem;
}

.left button,
.left p {
    animation: transIn .6s ease-out;
}

.right img {
    width: 600px;
    animation: transImg 0.60s ease-out;
}

/* BOTTOM CONTENT */

.bottom_content {
    height: 50vh;
    width: 100%;
    background-color: #fff;
}

.svg {
    background-color: #243B55;
}

.social {
    background-color: #243B55;
    height: 50vh;
    margin-top: -7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    
}

.box1 h1, p {
    color: #fff;
}

.box1 button {
    padding: 1;
}

.box1 h1 {
    font-size: 40px;
}

.box1 p {
    font-size: 20px;
    width: 500px;
}

.logos {
    display: flex;
}

.box2 img {
    width: 600px;
}

/* Animations */

@keyframes transImg {
    from {
        opacity: 0;
        transform: translateX(130px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transMainDown {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes transIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navTransIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 800px) {
    .nav-ul {
        display: none;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 220px;
        border-radius: 5px;
        z-index: 1;
    }

    nav img {
        padding-left: 1.4rem;
    }

    .nav-ul li {
        padding: 20px;
        margin-right: 0px;
    }

    .nav-ul li a {
        color: #1f1f1f;
        font-size: 20px;
        margin: 5px;
        cursor: pointer;
    }

    .nav-ul.show {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 20px 20px 0px;
        margin: 0;
    }

    .active_btn_slide {
        background-color: #fff;
        border: 3px solid #00f6cd;
    }

    .hamburger {
        display: block;
    }

    .hamburger.show {
        position: fixed;
        top: 10px;
        right: 225px;
        background-color: #fff;
        color: #1f1f1f;
        border-radius: 3px;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .right img {
        width: 600px;
    }

    .left {
        position: relative;
        left: 1rem;
    }
}

@media screen and (max-width: 1286px) {
    .left h1, p {
        font-size: 2.5rem;
    }

    .left {
        position: relative;
        left: 30px;
    }

    .right {
        position: relative;
        left: 20px;
    }
}
